<ion-content class="ion-padding" color="dark">
  <div class="form-slide">
    <h2 class="title">Regístrate</h2>

    <ion-item lines="none">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input placeholder="Ingresa tu nombre" [(ngModel)]="nombre" (ionInput)="Validar()"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="nombreError">{{ nombreError }}</ion-text>

    <ion-item lines="none">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input placeholder="Ingresa tu apellido" [(ngModel)]="apellido" (ionInput)="Validar()"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="apellidoError">{{ apellidoError }}</ion-text>

    <ion-item lines="none">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input placeholder="Ingresa tu nombre de usuario" [(ngModel)]="username" (ionInput)="Validar()"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="usernameError">{{ usernameError }}</ion-text>

    <ion-item lines="none">
      <ion-icon name="lock-closed" slot="start"></ion-icon>
      <ion-input placeholder="Ingresa tu contraseña" [(ngModel)]="password" (ionInput)="Validar()" type="password"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="passwordError">{{ passwordError }}</ion-text>

    <ion-button expand="block" fill="clear" (click)="registrarUsuario()" [disabled]="!canProceed">
      Registrar
    </ion-button>

    <ion-item lines="none">
      <p>¿Ya tienes una cuenta? <a href="/home">Iniciar Sesión</a></p>
    </ion-item>
  </div>
</ion-content>
