<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Panel de Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="dark">
  <div class="admin-container">
    <h2>Opciones de Administración</h2>
    <ion-button expand="block" fill="solid" color="primary">Gestionar Usuarios</ion-button>
    <ion-button expand="block" fill="solid" color="primary">Gestionar Viajes</ion-button>
    <!-- Agrega más opciones de administrador aquí -->
  </div>
</ion-content>
