ion-content {
    --background: #1c1c1e; /* Fondo oscuro general */
    
    .map-container {
      height: 300px;
      background-color: #2a2a2b;
      margin-bottom: 20px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-size: 1.2rem;
    }
  
    .search-item {
      background-color: #2a2a2b;
      border-radius: 10px;
      --background: #2a2a2b;
      --color: #ffffff;
      --highlight-color-focused: #00ff00;
      margin-bottom: 15px;
    }
  
    ion-input {
      color: #ffffff;
    }
  
    ion-button {
      --border-radius: 10px;
      margin-bottom: 10px;
      font-size: 1rem;
      --color: #ffffff;
    }
  
    .action-buttons {
      ion-button {
        max-width: 320px;
        margin: 0 auto 10px;
      }
    }
  
    ion-icon {
      color: #ffffff;
    }
  }
  