<ion-content class="ion-padding" color="dark">
  <div class="form-slide">
    <h2 class="title">Inicia Sesión</h2>
    <form #formulario="ngForm" (ngSubmit)="onSubmit()">
      <ion-item lines="none">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input label="Nombre de Usuario" required type="text"
          labelPlacement="floating"
          [(ngModel)]="usr.username" name="username"
          placeholder="Nombre de usuario"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-input label="Contraseña" required type="password"
          labelPlacement="floating" 
          [(ngModel)]="usr.password" name="password"
          placeholder="******"></ion-input>
      </ion-item>
      <ion-button expand="block" fill="clear" type="submit" [disabled]="formulario.invalid">
        Iniciar Sesión
      </ion-button>
    </form>
    <ion-item lines="none">
      <p>¿No tienes una cuenta? <a href="/sign-up"> Regístrate</a></p>
    </ion-item>
  </div>
</ion-content>
