<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login-content">
  <ion-text color="primary" class="ion-text-center">
    <h1>Inicia Sesión</h1>
  </ion-text>

  <ion-list>
    <form #formulario="ngForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input label="Nombre de Usuario" required type="text" 
        labelPlacement="floating"
        [(ngModel)]="usr.username" name="username"
        placeholder="usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Contraseña" required type="password" 
        labelPlacement="floating" 
        [(ngModel)]="usr.password" name="password"
        placeholder="******"></ion-input>
      </ion-item>
      <ion-button expand="block" color="primary" type="submit" size="large" [disabled]="formulario.invalid">
        <ion-text color="light">
          <p>Iniciar Sesión</p>
        </ion-text>
      </ion-button>
    </form>
    
    <ion-text color="primary" class="ion-text-center">
      <h2>{{mensaje}}</h2>
    </ion-text>
  </ion-list>
</ion-content>
